<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home'%}">Zutatenberechner</a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav navbar-nav">
                <li><a class="nav-link" href="{% url 'home'%}">Home</a></li>
                <li><a class="nav-link" href="{% url 'calculator'%}">Berechner</a></li>
            </div>
        </div>
	</div>
</nav>
